*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    /* background-color: cornflowerblue; */
    text-align: center;
    margin: 35px;
    color: cornflowerblue;
}

.box{
    background-color: white;
    height: 500px;
    width: 350px;
    padding: 40px;
    border-radius: 10px;
}

label{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

input{
    /* text-align: center; */
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
