*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: beige;
    /* display: flex;
    height: 100vh; */
    /* justify-content: center;
    align-items: center; */
}

.container{
    background-color: wheat;
    height: 400px;
    width: 800px;
    /* background-color:chartreuse; */
    /* background-color: yellow; */
    /* box-shadow: 10px 10px 5px 1px color-mix(in srgb, chartreuse 60%, black);
    border-radius: 50px; */

    /* box-shadow: inset 10px 10px 5px 1px color-mix(in srgb, chartreuse 60%, black);
    border-radius: 50px; */

    /* box-shadow: 0 0 20px 10px #ffb300,
                0 0 40px 20px rgba(255, 140, 0, 0.65);
    border-radius: 50%; */

    overflow: scroll;
}

/* offset-x offset-y blur radius spread-radius */