*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background-color: white;
    gap: 10px;
    padding: 10px;
}

.header{
    background-color: blueviolet;
    grid-column-start: 1;
    grid-column-end: 4;
}

.slidebar{
    background-color:chartreuse;
    grid-row-start: 2;
    grid-row-end: 4;
}

.content1{
    background-color: turquoise;
    grid-column-start: 2;
    grid-column-end: 4;
}

.content2{
    background-color: turquoise;
}

.content3{
    background-color: turquoise;
}

.footer{
    background-color: steelblue;
    grid-column-start: 1;
    grid-column-end: 4;
}