body{
    background-color: black;
}

#container{
    background-color: red;
    height: 200px;
    width: 300px;
    position: relative;
}

.circle{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 50px;
    z-index: 10;
}

.rectangle{
    background-color: blue;
    width: 300px;
    height: 120px;
    position: absolute;
    left: 0px;
    bottom: 40px;
}